/* Start Global Rules */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	text-transform: capitalize;
}

body,
* {
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	scroll-behavior: smooth;
}

h1 {
	font-weight: 650;
}

html {
	scroll-behavior: smooth;
}

li {
	list-style: none;
}

i {
	font-weight: 900;
}

a {
	text-decoration: none;
	color: inherit;
}

.container {
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}

ul {
	list-style: none;
}

::-webkit-scrollbar {
	display: none;
}

/* Small */
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}

/* Medium */
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}

/* Large */
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}

/* End Global Rules */

/* Start Components */

.special-btn {
	background-color: #3a4dfd;
	padding: 18px 30px;
	border-radius: 6px;
	transition: 0.3s;
}

.special-btn:hover {
	background-color: #2b3ff8;
}

/* End Components */

/* Start header Section */

header {
	background-color: #0c0d18;
	z-index: 1000;
}

header nav ul.pop-up .container {
	inset: 0;
	background: #0c0d18;
}

@media (max-width: 767px) {
	header nav ul.pop-up:hover {
		display: block !important;
	}
}

header nav li a:not(.special-btn):hover {
	color: #12a5d8;
}

/* End header Section */

/* Start Landing Section */

section.landing {
	background-color: #0c0d18;
}

section.landing > i {
	color: #1bd3ff;
	position: absolute;
	right: 8%;
	font-size: 25px;
	top: 18%;
	animation: alternative 0.6s alternate infinite;
}

section.landing .container {
	padding: 100px;
}
@media (max-width: 767px) {
	section.landing .container {
		padding: 30px;
	}
}

section.landing .text {
	font-size: 25px;
}

section.landing .text h1 span {
	color: #00bced;
}

section.landing .text h1 .cur {
	width: 5px;
	height: 40px;
	top: 68px;
	left: 393px;
	animation: opacity 0.3s alternate infinite;
}

section.landing .text p:not(:first-child) {
	color: #a0a8bc;
}

section.landing .text a {
	font-size: medium;
}

section.landing .text .social i {
	background: #171824;
	width: 65px;
	display: flex;
	justify-content: center;
	transition-delay: 0.09s;
}

section.landing .text .social i:hover {
	transform: translateY(-15px);
}

section.landing .text .social i.facebook:hover {
	background: #3165c8;
}

section.landing .text .social i.instagram:hover {
	background: #f33b65;
}

section.landing .text .social i.twitter:hover {
	background: #006fd5;
}

section.landing .text .social i.whatsapp:hover {
	background: #0c7e29;
}

section.landing img {
	width: 400px;
	right: 10%;
}
@media (max-width: 1080px) {
	section.landing img {
		display: none;
	}
}

section.landing .go-down {
	font-size: 30px;
	width: calc(100% - 95%);
	margin-right: calc(95% * (1 / 2));
	margin-left: calc(95% * (1 / 2));
	inset: 0;
	top: 89%;
	display: flex;
	justify-content: center;
	animation: go-up 2s infinite alternate;
}

/* End Landing Section */

/* Start About Section */

section.about {
	background: #0c0d18;
}

section.about .container {
	padding-top: 100px;
}

@media (max-width: 767px) {
	section.about .container {
		padding-top: 25px;
	}
}

section.about .head {
	margin-top: 30px;
}

@media (max-width: 767px) {
	section.about .head {
		margin-top: -20px;
	}
}

section.about .boxes {
	height: 80%;
}

section.about .boxes .box-1,
section.about .boxes .box-2 {
	width: 50%;
}

@media (max-width: 767px) {
	section.about .boxes .box-1,
	section.about .boxes .box-2 {
		width: 100%;
		padding: 0;
	}
}

section.about .boxes > .box-1 .child-box {
	background: #171726;
	height: 100px;
	margin-bottom: -5px;
	transition: 0.3s;
}

section.about .boxes > .box-1 .child-box:hover {
	scale: 1.06;
	box-shadow: 0 5px 10px black;
}

section.about .boxes > .box-1 .child-box i {
	background: #4658fd;
	font-size: 32px;
	width: 0px;
	padding: 22px 40px;
}

section.about .boxes > .box-1 .child-box .text {
	flex-grow: 1;
}

section.about .boxes > .box-1 .child-box .text h3 {
	font-size: 22px;
}

section.about .boxes > .box-1 .child-box .text p {
	color: #9eb1c5;
}

section.about .boxes > .box-1 .child-box .text p {
	color: #9eb1c5;
}

section.about .boxes > .box-2 h1 {
	color: #dddfe1;
}

@media (max-width: 767px) {
	section.about .boxes > .box-2 h1 {
		font-size: 30px;
	}
}

section.about .boxes > .box-2 p {
	color: #678092;
}

@media (max-width: 767px) {
	section.about .boxes > .box-2 p {
		margin-bottom: 40px;
	}
}

section.about .boxes > .box-2 a.special-btn i {
	font-size: 20px;
}

/* End About Section */

/* Start Animation */

@keyframes opacity {
	from {
		opacity: 0;
	}
}

@keyframes alternative {
	to {
		rotate: 1turn;
	}
}

@keyframes go-up {
	0%,
	10%,
	20%,
	50%,
	80%,
	100% {
		transform: translateY(0);
	}

	40%,
	60% {
		transform: translateY(-15px);
	}
}

/* End Animation */
